* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #111827;
  --secondary: #030712;
  --card: #1F2937;
  --text-color: #D1D5DB;
  --heading: #F9FAFB;
  --accent: #22C55E;

}

.light {
  --primary: #FFFFFF;
  --secondary: #F9FAFB;
  --card: #F3F4F6;
  --text-color: #374151;
  --heading: #111827;
  --accent: #2563EB;

}

body {
  background-color: var(--secondary);
}

.content_section {
  max-width: 1200px;
  margin: auto;
}