:root {
    /* color */
    --primary: #111827;
    --secondary: #030712;
    --card: #1F2937;
    --text-color: #D1D5DB;
    --heading: #F9FAFB;
    --accent: #22C55E;

    /* space */
    --space-xm: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 2.5rem;
    --space-xxl: 3rem;
    /* font size */
    --text-size-sm: 1rem;
    --text-size-md: 1.5rem;
    --text-size-lg: 2rem;
    --text-size-xl: 2.5rem;
    --text-size-xxl: 3rem;
}

.light {
    --primary: #FFFFFF;
    --secondary: #F9FAFB;
    --card: #F3F4F6;
    --text-color: #374151;
    --heading: #111827;
    --accent: #2563EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary);
}

.layout {
    display: flex;
}

.outlet {
    flex: 1;
}

button {
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(0.9);
}

/* home page */
/* header */
/*
.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-md);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--primary);
    background-color: var(--secondary);
    z-index: 10;
}

.header .logo {
    color: var(--accent);
    font-weight: 600;
    font-size: 1.2rem;
}

.header--buttons {
    display: flex;
    gap: var(--space-sm);
    align-content: center;
}

.header--buttons button {
    font-size: var(--text-size-sm);
    font-weight: 600;
}

.header--buttons button:first-child {
    background: transparent;
    color: var(--text-color);
}

.header--buttons button:first-child:hover {
    background-color: var(--accent);
    color: var(--primary);
}

.header--buttons button:last-child {
    background-color: var(--accent);
    color: var(--primary);
}

/* Hero section */
/* section {
    margin-bottom: var(--space-xxl);
} */

.hero--section {
    min-height: 85vh;
    padding: var(--space-sm);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero--section .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    margin: auto;
    padding: 0px var(--space-md);
    width: 100%;
}

.hero--title {
    color: var(--heading);
    text-align: center;
    line-height: 1.5;
    font-size: var(--text-size-xl);
    font-weight: bolder;
}

.hero--section span {
    color: var(--accent);
}

.hero--description {
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
    margin: auto;
}

.hero--buttons {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    justify-content: center;
}

.hero--buttons button:first-child {
    background-color: var(--accent);
    color: var(--primary);
    border: 2px solid var(--accent);
}

.hero--buttons button:last-child {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--text-color);
}

/* Features section */
.features--section {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
    padding: 5rem var(--space-md);
    margin-top: var(--space-xxl);
}

.section--title {
    text-align: center;
    color: var(--heading);
}

.features--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--space-md);
}

.feature--card {
    padding: var(--space-xl)var(--space-md);
    border-radius: 10px;
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}

.feature--icon {
    padding: var(--space-sm);
    border-radius: 10px;
    background-color: rgba(90, 189, 255, 0.2);
    width: 50px;
    height: 50px;
}

.feature--card .card--description {
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.9;
    line-height: 1.5;
}

/* posts */
.posts--section {
    padding: var(--space-md);
}

hr {
    opacity: 0.2;
    margin-top: var(--space-md);
}

.posts--section>div:last-child {
    margin-top: var(--space-lg);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.posts--section div:last-child button {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
    margin: auto;
}

/* testimonilas */
.testimonials--section {
    background-color: var(--primary);
    padding: 5rem var(--space-md);
    margin-bottom: 0;
}

.test--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--space-md);
    margin-top: var(--space-xl);
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-md);
    border-radius: 10px;
    background-color: var(--card);
}

.test--text {
    line-height: 1.5;
}

.test--author {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    justify-content: flex-start;
}

.avator {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--accent);
    color: var(--primary);
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: var(--text-size-md);
}

.author--info h4 {
    margin-bottom: 8px;
}

.author--info p {
    font-size: 0.9rem;
    opacity: 0.9;
}

/* bottom--section */
.bottom--section {
    background-color: var(--accent);
    padding: 4rem var(--space-md);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--space-md);
    align-items: center;
    justify-content: center;
    color: var(--primary);
    margin: 0;
}

.bottom--section p {
    width: 400px;
    text-align: center;
    line-height: 1.5;
    font-size: 0.9rem;
    opacity: 0.9;
}

.bottom--section button {
    background-color: var(--primary);
    color: var(--accent);
    font-size: 0.9rem;
    font-weight: 500;
}

/* footer */
.footer {
    background-color: var(--text-color);
    padding: var(--space-md);
}

.footer p {
    text-align: center;
    line-height: 1.15;
    color: var(--primary);
    font-size: 0.9rem;
    opacity: 0.9;
}

/* side navigaton bar */

.sideNav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100vh;
    width: fit-content;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 1px 0.1px var(--text-color);
}

.sideNav .menu-icon {
    position: absolute;
    top: 20px;
    right: 0px;
    font-weight: bold;
    background-color: var(--accent);
    padding: 3px 5px;
    border-radius: 30px 0px 0px 30px;
    color: var(--heading);
    width: 40px;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out
}

.sideNav .open-menu {
    transform: rotateY(180deg);
    right: -40px;
    animation: getToRight 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes getToRight {
    0% {
        right: 100px;
    }

    100% {
        right: -40px;
    }
}

.sideNav .icon--container,
.sideNav .content--container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    justify-content: space-between;
    height: 100%;
    padding: var(--space-lg) 0;
}

.sideNav .icon--container {
    background-color: var(--card);
}

.sideNav .icon--container li {
    padding: var(--space-sm);
    transition: 0.3s ease-in-out;
    height: 52px;
}

.sideNav .content--container {
    width: 250px;
}

.sideNav .content--container li {
    padding: var(--space-sm) 0;
    transition: 0.3s ease-in-out;
    height: 52px;
}

.sideNav .logo {
    margin-bottom: var(--space-xxl);
    height: 30px;
}

.sideNav .icon--container .logo {
    padding-left: var(--space-sm);
}

li {
    list-style: none;
}

.sideNav .logo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent);
}

.sideNav .logo:hover {
    cursor: pointer;
}

.nav--lists {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.sidenav-bottom {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.sideNav .active {
    background-color: var(--accent);
    color: var(--primary);
    font-weight: 700;
}

.sideNav li:hover {
    background-color: var(--accent);
    color: var(--primary);
    cursor: pointer;
}

.sidenav--avator {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav--avator span {
    font-size: var(--text-size-sm);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    align-content: center;
    background-color: var(--accent);
    color: var(--primary);
    font-weight: 800;
}

/* authentication */

/* create post */

/* getposts */


/* get post */

/* user dashboard */


/* admin post management */

.manage-posts--section {
    width: 100%;
    background-color: var(--secondary);
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.manage-posts--section .createPost--btn {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.manage-posts--section select,
.posts-page select {
    width: fit-content;
    font-size: var(--text-size-sm);
}

input[type="search"] {
    padding: 8px 12px;
    background-color: var(--primary);
    border-radius: 5px;
    border: 1px solid var(--text-color);
    outline: none;
    width: fit-content;
}

.posts--table {
    background-color: var(--card);
    border-radius: var(--space-sm);
    border-collapse: collapse;
    overflow: hidden;
    color: var(--text-color);
    box-shadow: 1px 1px 4px var(--text-color);
}


.posts--table td,
th {
    padding: var(--space-sm);
    border-bottom: 1px solid var(--text-color);
    text-align: left;
    font-size: 0.9;
    opacity: 0.8;
    line-height: 1.5;
}

.posts--table tr td:nth-child(2):hover {
    cursor: pointer;
}

.posts--table th {
    background-color: var(--card);
    color: var(--heading);
}

.posts--table tr td:last-child {
    position: relative;
    opacity: 1;
}

.active {
    color: var(--accent);
}

.manage-posts--section .action--menu {
    background-color: var(--accent);
    padding: 8px;
    color: var(--primary);
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0px 0px 2px 0.01px var(--text-color);
    position: absolute;
    z-index: 9;
    top: -50px;
    left: -90px;
}

.manage-posts--section .action--menu div {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: 3px 0;
    font-size: 0.9rem;
}

.manage-posts--section .action--menu div:hover,
.more-btn:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 425xp) {
    html {
        font-size: 14px;
    }
}

*/